  <!-- Footer -->
  <footer>
     <div class="bottom-container">
       <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>Please reach out to discuss freelance work.</h3>
      <p>Whether you need English language copywriting and/or copyediting, have a problem that needs a coding solution, or just want to chat, I'm only an email away.</p>
      <a class="btn" href="mailto:swagmcmuffinz13@gmail.com">CONTACT ME</a>
    </div>
    <a class="footer-link" href="{{ url_for('home') }}">Website</a>
    <!--<a class="footer-link" href="https://twitter.com/">Twitter</a>-->
    <a class="footer-link" href="https://github.com/karo-codes">Github</a>
    <p class="copyright">© {{ year }} Tom Whitehead.</p>
  </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>



</html>
