{% include "header.html" %}
<body>
  <div class="top-container">
    <h1>I'm Tom.</h1>
    <h4 class="watashi">トムです</h4>
    <h2>I am the future.</h2>
    <h4 class="mirai">私は未来です</h4>
  </div>

  <div class="middle-container">
    <div class="profile">
      <img class="pika-img" src="static/images/pika_wut.png" alt="tom-whitehead">
      <h2>Hello.</h2>
      <p class="personal-description">I am a leader, student, and visionary.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills</h2>
      <div class="skill-row">
        <img class="teacher-img" src="static/images/teacher.png" alt="teacher-img">
        <h3>Teaching & Training</h3>
        <p>I have taught in a wide variety of subjects ranging from English grammar and composition to Eastern philosophy. Now I focus on corporate training. I love to learn and facilitate learning for others.</p>
      </div>
      <div class="skill-row">
        <img class="computer-img" src="static/images/computer.png" alt="computer-img">
        <h3>Programming</h3>
        <p>I'm an aspiring programmer and have already made quite a few projects - including this one!
          See my github link below for more projects.</p>
      </div>
      <div class="skill-row">
        <img class="jp-img" src="static/images/jp.png" alt="jp-img">
        <h3>Languages</h3>
        <p>I'm also a lifelong student of language. I've studied Latin, Spanish, and am currently working on Japanese.
          もう日本語を話せます！</p>
      </div>
    </div>
    <hr>

  </div>
</body>
{% include "footer.html" %}